body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #ddd;
}

.game-board {
  width: 100%;
  margin: auto;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: xx-large;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  font-weight: bolder;
  height: 10vmax;
  width: 10vmax;
  text-align: center;
  line-height: 10vmax;
  vertical-align: middle;
  font-size: 3.75vmax;
  display: inline-block;
}

.square:focus {
  outline: none;
}

.X {
  color: #E60F31;
}

.O {
  color: green;
}


.game {
  text-align: center;
  width: 100%;
}

.replay {
  margin-top: 18px;
  background-color: #F48F10;
  color: white;
  border: none;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  padding: 16px 20px;
  border-radius: 6px;
}

.replay:hover {
  background-color: #C06D04;
  transition-duration: 0.5s;
  cursor: pointer;
}

.replay:focus {
  outline: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13669c;
  text-align: center;
  font-weight: bolder;
}

.footer a {
  color: white;
}

.footer a:visited {
  color: white;
}
